<nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/clientes">TCC</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let route of menuNavbar" class="nav-item">
          <a
            [routerLink]="route.route"
            aria-current="page"
            class="{{ route.class }}"
            (click)="activeRouter()"
            [style]="route.style"
          >
            {{ route.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
